<div class="rc-dashboard-container">
  <h2>Réservation de Visite</h2>
  <a routerLink="/visite-list" class="link-to-visite-list">Voir la liste des visites</a>
  <form (ngSubmit)="soumettreVisite()">
    <div class="form-group">
      <label for="dateDebut">Date de Début</label>
      <input type="date" id="dateDebut" [(ngModel)]="visite.dateDebut" name="dateDebut" required>
    </div>
    <div class="form-group">
      <label for="dateFin">Date de Fin</label>
      <input type="date" id="dateFin" [(ngModel)]="visite.dateFin" name="dateFin" required>
    </div>
    <div class="form-group">
      <label for="adresse">Adresse</label>
      <input type="text" id="adresse" [(ngModel)]="visite.adresse" name="adresse" required>
    </div>
    <div class="form-group">
      <label for="objet">Objet de la Visite</label>
      <input type="text" id="objet" [(ngModel)]="visite.objet" name="objet" required>
    </div>
    <button type="submit">Enregistrer la Visite</button>
  </form>

  <h3>Liste des Visites</h3>
  <ul>
    <li *ngFor="let visite of visites">
      {{ visite.dateDebut }} - {{ visite.dateFin }}: {{ visite.adresse }} ({{ visite.objet }})
    </li>
  </ul>
</div>
