<!-- login.component.html -->
<div class="login-container">
    <header class="header">
        <img src="assets/logoalten.png" alt="Logo" class="logo">
    </header>
    <div class="login-content">
        <h1>Login</h1>
        <form>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" [(ngModel)]="username">

            <label for="password">Password</label>
            <input type="password" id="password" name="password" [(ngModel)]="password">

            <button type="submit">Login</button>
        </form>
    </div>
</div>
