.visite-list-container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff; /* Fond blanc */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid #007bff; /* Bordure bleue */
}

h2 {
  font-size: 26px;
  margin-bottom: 20px;
  color: #007bff; /* Texte bleu */
  border-bottom: 2px solid #007bff; /* Bordure sous le titre */
  padding-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background-color: #ffffff; /* Fond blanc */
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 2px solid #f39c12; /* Bordure jaune */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul li:nth-child(odd) {
  background-color: #f9f9f9; /* Fond gris clair pour les éléments alternés */
}

p {
  margin: 5px 0;
  color: #333333;
}
