<div class="reservation-form-container">
  <h2>Réserver un hôtel pour le client</h2>
  <form (submit)="onSubmit()">
    <div class="form-group">
      <label for="clientNom">Nom du client</label>
      <input type="text" id="clientNom" [(ngModel)]="reservation.clientNom" name="clientNom" required />
    </div>

    <div class="form-group">
      <label for="clientPrenom">Prénom du client</label>
      <input type="text" id="clientPrenom" [(ngModel)]="reservation.clientPrenom" name="clientPrenom" required />
    </div>

    <div class="form-group">
      <label for="hotel">Nom de l'hôtel</label>
      <input type="text" id="hotel" [(ngModel)]="reservation.hotel" name="hotel" required />
    </div>

    <div class="form-group">
      <label for="dateDebut">Date de début</label>
      <input type="date" id="dateDebut" [(ngModel)]="reservation.dateDebut" name="dateDebut" required />
    </div>

    <div class="form-group">
      <label for="dateFin">Date de fin</label>
      <input type="date" id="dateFin" [(ngModel)]="reservation.dateFin" name="dateFin" required />
    </div>

    <div class="form-group">
      <label for="adresse">Adresse</label>
      <input type="text" id="adresse" [(ngModel)]="reservation.adresse" name="adresse" required />
    </div>

    <button type="submit">Réserver</button>
  </form>
</div>
